<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jianglinnana.house.dao.mapper.BsStreetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jianglinnana.house.model.entity.base.BsStreet">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
        <result column="street_code" property="streetCode" />
        <result column="area_code" property="areaCode" />
        <result column="stree_name" property="streeName" />
        <result column="short_name" property="shortName" />
        <result column="lng" property="lng" />
        <result column="lat" property="lat" />
        <result column="sort" property="sort" />
        <result column="memo" property="memo" />
        <result column="tenant_code" property="tenantCode" />
    </resultMap>

</mapper>
