<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>房屋租赁系统</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/myCss.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/iconfont/iconfont.css}"/>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script th:src="@{/layui/layui.js}" charset="UTF-8"></script>
</head>
<body>
<div>
    <div class="layui-header layui-hide-xs layui-bg-black">
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item "><img th:src="@{/img/ziru.png}" th:width="160px"></li>
            <li class="layui-nav-item layui-this"><a th:href="@{/route/index}">首页</a></li>
            <li class="layui-nav-item "><a th:href="@{/route/rent}">租房</a></li>
            <li class="layui-nav-item "><a th:href="@{/route/landlord}">房东中心</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-show-md-inline-block">
                <a th:href="@{/route/loginStatus}">
                    登录
                </a>
            </li>
            <li class="layui-nav-item">
                |
            </li>
            <li class="layui-nav-item" lay-header-event="menuRight" layui-unselect>
                <a href="">
                    注册
                </a>
            </li>
        </ul>
    </div>

</div>

<div class="select">
    <div class="selectMain">
        <a href="">重庆</a>
        <i class="layui-icon layui-icon-triangle-d" style="margin-right: 20px"></i>
        |
        <input id="select" class="selectInput" th:onclick="showHouse([[${house}]])" placeholder="请输入区域、地铁站、小区名开始找房">
    </div>

</div>

<div class="layui-carousel" id="ad">
    <div carousel-item>
        <div><img th:src="@{/img/ad1.jpg}" style="width: 100%;height: 100%"></div>
        <div><img th:src="@{/img/ad1.jpg}" style="width: 100%;height: 100%"></div>
        <div><img th:src="@{/img/ad1.jpg}" style="width: 100%;height: 100%"></div>
        <div><img th:src="@{/img/ad1.jpg}" style="width: 100%;height: 100%"></div>
        <div><img th:src="@{/img/ad1.jpg}" style="width: 100%;height: 100%"></div>
        <div><img th:src="@{/img/ad1.jpg}" style="width: 100%;height: 100%"></div>

    </div>
</div>

<div class="iconPosition">
    <a th:href="@{/route/index}">
        <button class="menuButton">
            <i class="iconfont icon-ditie iconType"></i>
            <p style="text-align: center">地铁</p>
        </button>
    </a>
    <a th:href="@{/route/index}">
        <button class="menuButton">
            <i class="iconfont icon-icon-price iconType"></i>
            <p style="text-align: center">价格</p>
        </button>
    </a>
    <a th:href="@{/route/index}">
        <button class="menuButton">
            <i class="iconfont icon-quyu iconType"></i>
            <p style="text-align: center">区域</p>
        </button>
    </a>
    <a th:href="@{/route/index}">
        <button class="menuButton">
            <i class="iconfont icon-juminxiaoqu iconType"></i>
            <p style="text-align: center">小区</p>
        </button>
    </a>
</div>

<div id="items" class="houseStyle"></div>
<div id="houses" class="housesBox"></div>
<div style="margin-bottom: 60px"></div>
<div class="menu">
    <a th:href="@{/route/index}" style="background-color: white; width: 25%; ">
        <button class="menuButton">
            <i class="layui-icon layui-icon-home"></i>
            <p style="text-align: center;">首页</p>
        </button>
    </a>
    <a th:href="@{/route/index}" style="width: 25%; ">
        <button class="menuButton">
            <i class="layui-icon layui-icon-notice"></i>
            <p style="text-align: center;">消息</p>
        </button>
    </a>
    <a th:href="@{/route/index}" style="width: 25%; ">
        <button class="menuButton">
            <i class="layui-icon layui-icon-console"></i>
            <p style="text-align: center;">房东中心</p>
        </button>
    </a>
    <a th:href="@{/route/user}" style="width: 25%;">
        <button class="menuButton">
            <i class="layui-icon layui-icon-username"></i>
            <p style="text-align: center;">我的</p>
        </button>
    </a>
</div>


<script>
    layui.use(['element', 'carousel', 'layer', 'util'], function () {
        var element = layui.element,
            layer = layui.layer
        util = layui.util,
            carousel = layui.carousel;

        carousel.render({
            elem: '#ad',
            width: '100%',
            height: '400px',
            arrow: 'always'
        });

        util.event('lay-header-event', {
            menuRight: function () {
                layer.open({
                    type: 1,
                    content: '<div style="padding: 15px;">处理操作</div>',
                    area: ['260px', '100%'],
                    offset: 'rt',
                    anim: 5,
                    shadeClose: true
                });
            }
        });
    });
</script>
<script th:inline="javascript">

    $('#select').bind('keydown', function (event) {
        if (event.keyCode == "13") {
            var info = $("#select").val();
            console.log(info)
            /*<![CDATA[*/
            var localhref = /*[[@{/house/select?info=}]]*/"arclist/";
            /*]]>*/
            var href = localhref+info;
            console.log(localhref);
            location.href = href;
            gethouse();
        }
    })

    window.onload = function gethouse(){
        console.log("haha")
        var target = $("#items");
        var index = 0;
        /*<![CDATA[*/
        var result = /*[[${houseByName}]]*/"houseByName";
        /*]]>*/
        for (var row of result) {
            var str = $(
                `<div class="housesFontApp">
        <span style="margin-right: 10px;">
            <img src="/rent-house/img/testhouse.jpg" style="width: 120px; height: 100%; border-radius: 10px;">
        </span>
        <span class="housesApp">
            <span style="width: 100%;">
                <span>${row["district"]}</span>
                <div style="float: right; margin-right: 10px;"><i class="layui-icon layui-icon-heart"></i></div>
            </span>
            <div>${row["title"]}</div>
            <div class="housePrice">${row["price"]}</div>
            <div style="width: 100%;">
                <span style="margin-right: 10px;">${row["district"]}</span>
                <span >${row["street"]}</span>
            </div>
        </span>

    </div>`
            );
            console.log(row)
            str.appendTo(target);
            index++;
        }

    }

</script>
</body>
</html>