<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>吉林大学
    <meta charset="UTF-8">
    <title>房屋租赁系统</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/layui.js}"/>
</head>
<body>
<div class="layui-header layui-hide-xs layui-bg-black">
    <div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item "><img th:src="@{/img/ziru.png}" th:width="160px"></li>
            <li class="layui-nav-item"><a th:href="@{/route/index}">首页</a></li>
            <li class="layui-nav-item "><a th:href="@{/route/rent}">租房</a></li>
            <li class="layui-nav-item layui-this"><a th:href="@{/route/landlord}">房东中心</a></li>
        </ul>
    </div>
</div>

</body>
</html>